-
  const portfolioItems = [
    {
      srcImg: './assets/img/portfolio/01.png',
      title: 'Металлический борт 150 (30х150х50)',
      tag_item_1: {
        text: 'Лазерная резка',
        classColor: 'tag-orange',
      },
      tag_item_2: {
        text: 'Гибка листового металла',
        classColor: 'tag-grey',
      },
      description: 'Металлический борт из оцинкованной стали с плющением до конца S=1,5 мм. Габариты: (30х150х50)'
    },

    {
      srcImg: './assets/img/portfolio/02.png',
      title: 'Металлический борт 100',
      tag_item_1: {
        text: 'Лазерная резка',
        classColor: 'tag-orange',
      },
      tag_item_2: {
        text: 'Гибка листового металла',
        classColor: 'tag-grey',
      },
      description: 'Металлический борт из оцинкованной стали с зазором под пластину S=1,5 мм. Габариты: (10х100х50)'
    },

    {
      srcImg: './assets/img/portfolio/03.png',
      title: 'Вентиляционная решетка',
      tag_item_1: {
        text: 'Изготовление металлоизделий',
        classColor: 'tag-lightblue',
      },
      tag_item_2: {
        text: 'Порошковая покраска',
        classColor: 'tag-fio',
      },
      description: 'Декоративная решетка на вентиляционные отверстия из нержавеющей стали AISI 304 матовая S=5мм и перфорированного листа S=1мм.'
    },

    {
      srcImg: './assets/img/portfolio/04.png',
      title: 'Кронштейн для крепления фасада',
      tag_item_1: {
        text: 'Лазерная резка',
        classColor: 'tag-orange',
      },
      tag_item_2: {
        text: 'Изготовление металлоизделий',
        classColor: 'tag-lightblue',
      },
      description: 'Кронштейн из черной стали 5 и 3 мм, покраска по ral 9005'
    },

    {
      srcImg: './assets/img/portfolio/05.png',
      title: 'Икля',
      tag_item_1: {
        text: 'Порошковая покраска',
        classColor: 'tag-fio',
      },
      tag_item_2: {
        text: 'Столярные работы',
        classColor: 'tag-pink',
      },
      description: 'Кронштейн из черной стали 5 и 3 мм, покраска по ral 9005'
    },

    {
      srcImg: './assets/img/portfolio/06.png',
      title: 'Зацеп',
      tag_item_1: {
        text: 'Порошковая покраска',
        classColor: 'tag-fio',
      },
      tag_item_2: {
        text: 'Лазерная резка',
        classColor: 'tag-orange',
      },
      description: 'Зацеп из нержавеющей стали AISI 304 ммматовая S=1,5мм'
    },


  ]


mixin createPortfolioItems ( portfolioData )
  each card in portfolioData
    li.portfolio__item
      .portfolio__image-wrapper
        img(src=card.srcImg alt='portfolio')
      h3.portfolio__title=card.title
      ul.portfolio__tags.portfolio-tags
        li.portfolio-tags__item(class=card.tag_item_1.classColor)=card.tag_item_1.text
        li.portfolio-tags__item(class=card.tag_item_2.classColor)=card.tag_item_2.text
      p.portfolio__description= card.description


+createPortfolioItems( portfolioItems )





//li.portfolio__item
//  .portfolio__image-wrapper
//    img(src='./assets/img/portfolio/01.png' alt='portfolio')
//  h3.portfolio__title Металлический борт 150 (30х150х50)
//  ul.portfolio__tags.portfolio-tags
//    li.portfolio-tags__item.tag-orange Лазерная резка
//    li.portfolio-tags__item.tag-grey Гибка листового металла
//  p.portfolio__description Металлический борт из оцинкованной стали с плющением до конца S=1,5 мм. Габариты: (30х150х50)

